{% extends "::base.html.twig" %}

{% block title %}USBundle:Person:modify{% endblock %}

{% block body %}
    <a href="{{path('main_page')}}">Powrót do strony głównej</a>
    <h3>Zmień dane podstawowe</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>

    <h3>Adres: </h3>
    {% if person.address == true %}
        <p> {{person.address.city}} ul.{{person.address.street}} {{person.address.number}}/
            {{person.address.apartmant}}</p>
        <a href="{{path('deleteAddress_action', {"id":person.id})}}"><button>Usuń ten adres</button></a>
    {% else %}
        <p>nie wprowadzono adresu dla tego kontaktu</p>
        <a href="{{path('addAddress_action', {"id":person.id})}}"><button>Dodaj nowy adres</button></a>   
    {% endif %}
    <h3>Telefon: </h3>
    {% if person.phones|length != 0 %}
        {% for phone in person.phones %}

            <p>{{phone.number}} {{phone.type}}
                <a href="{{path('deletePhone_action', {"id":phone.id})}}">
                    <button>Usuń ten telefon</button>
                </a> 
            </p>

        {% endfor %}   

    {% else %}
        <p>nie wprowadzono telefonu dla tego kontaktu</p>

    {% endif %}
    <a href="{{path('addPhone_action', {"id":person.id})}}"><button>Dodaj nowy telefon</button></a>  
    <h3>Email: </h3>
    {% if person.emails|length != 0 %}
        {% for email in person.emails %}

            <p>{{email.mail}} {{email.type}}
              <a href="{{path('deleteEmail_action', {"id":email.id})}}">
                  <button>Usuń ten email</button>
              </a>    
            </p>
           

            
        {% endfor %}   



    {% else %}
        <p>nie wprowadzono adresu email dla tego kontaktu</p>

    {% endif %}
    <a href="{{path('addEmail_action', {"id":person.id})}}"><button>Dodaj nowy email</button></a> 




{% endblock %}
