{% extends "::base.html.twig" %}



{% block body %}


<h3> Imię: {{person.name}}</h3>
<h3>Nazwisko: {{person.surname}}</h3>
<p> Opis: {{person.description}}</p>

 

<a href="{{path('modyfy_action', {"id":person.id})}}"><button>Edytuj kontakt</button></a>
<br>
<hr>
<a href="{{path('main_page')}}">Powrót do strony głównej</a>
{% endblock %}
