{% extends "::base.html.twig" %}



{% block body %}
<a href="{{path('main_page')}}">Powrót do strony głównej</a>

<h3> Imię: {{person.name}}</h3>
<h3>Nazwisko: {{person.surname}}</h3>
<p> Opis: {{person.description}}</p>
<h3> Adres: </h3>
{% if person.address == true %}
    <p> Miejscowość: {{person.address.city}}</p>
    <p> Ulica: {{person.address.street}}</p>
    <p> Numer domu: {{person.address.number}}</p>
    <p> Numer mieszkania: {{person.address.apartmant}}</p>
    
    {% else %}
        <p>nie wprowadzono adresu dla tego kontaktu</p>
{% endif %}
 

<a href="{{path('modyfy_action', {"id":person.id})}}"><button>Edytuj kontakt</button></a>
<br>
<hr>

{% endblock %}
